<!-- DISPLAYS ALL DOCUMENTS FOR CLIENT -->
<div ng-app="App" ng-controller="GetDocsCtrl as docs">
	<h1>Documents</h1>
	<% if !@client %>
		<div class="alert alert-danger"> No client for token <%= params[:token] %> </div>
	<% end %>

	<ul class="docs">
		<% @docs.each do |doc| %>
			<li>
				<%= link_to doc.title, "/documents/#{@token}/#{doc.id}" %>
			</li>
		<% end %>
	</ul>
</div>